<!-- Portfolio Grid Section -->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">PORTFOLIO</h2>
        </div>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            {% for post in site.posts %}
            <div class="col-md-4 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal"
                    data-target="#portfolioModal-{{ post.modal-id }}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>